.headingStyle {
    background-color: purple;
    color: #fff;
    padding: 15px;
    font-size: 2em;
}

.card {
    background-color: #e4e445;
    box-shadow: 2px 4px 4px gray;
    padding: 10px;
    margin: 10px;
    width: 390px;
    display: inline-block;
}

.cardTitle {
    text-align: center;
    padding: 5px;
}
.cardDes {
    text-align: justify;
    margin: 5px;
}
.cardFooter {
    text-align: center;
    font-weight: bold;
    margin: 5px;
}